* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
    background-color: #121212;
}
h3, p{
    color: white;
}


/* header */
.header-container{
    padding: 5px 50px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    
}
#logo-copilot{
    width: 100px;
    height: auto; 
}
#perfil-name{ /*não consegui fazer com que o nome do perfil ficasse alinhado com o icone*/
    text-align: end;
}
.header-container nav{
    display: flex;
    flex-direction: column;
}
.header-container img{
    height: 30px;
    width: 70px;
}
.header-container nav{
    flex-direction: row;
}


/* main */
.main-container{
    padding: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 90px auto;
}
.chat-container{
    width: 1100px;
    height: 400px;
    font-size: 20px;
    margin: 40px auto;
    padding: 8px auto;
}
#pergunta, #resp{
    margin-bottom: 30px;
    padding: 8px;
}


/* footer */
.footer-container{ /*não consegui preencher o footer até o final da página*/
    display: flex;
    padding: 5px 30px;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top: 100px;
    width: 100%;

}
.write{
    width: 800px;
    height: auto;
    padding: 10px;
}
#writing{
    background-color: rgb(105, 105, 105);
    border-radius: 10px;
    width: 660px;
    height: 100px;
    resize: none;
    padding: 5px;
    margin-bottom: 10px;
}
#writing::placeholder{
    color: rgb(51, 51, 51);
}
#button-submit{
    border-radius: 10px;
    padding: 7px;
    color: white;
    background-color: rgba(111, 111, 111, 0.3);
}